services:
  backend:
    image: oven/bun
    working_dir: /app
    volumes:
      - ./backend:/app/backend
      - ./backend/node_modules:/app/backend/node_modules
      - ./frontend/build:/app/frontend/build
    command: bun run backend/index.js
    restart: unless-stopped
    environment:
      - ATLAS_URI=${ATLAS_URI}
      - PORT=${PORT:-5000}
      - FETCHER=${FETCHER:-true}
      - NODE_ENV=${NODE_ENV:-production}
    networks:
      - app-network
    env_file:
      - .env
    ports:
      - "5000:5000"   # Expose backend to localhost for Nginx reverse proxy

# Uncomment and configure if you want local MongoDB instead of Atlas
mongodb:
  image: mongo:latest
  environment:
    MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME:-root}
    MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:-example}
  volumes:
    - mongodb_data:/data/db
  networks:
    - app-network
  restart: unless-stopped

# networks
networks:
  app-network:

volumes:
  mongodb_data:
