services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.ssl.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/build:/usr/share/nginx/html
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    image: oven/bun
    working_dir: /app
    volumes:
      - ./backend:/app/backend
    command: bun run backend/index.js
    restart: unless-stopped
    environment:
      - ATLAS_URI=${ATLAS_URI:-mongodb://root:example@mongodb:27017/betting-china?authSource=admin}
      - PORT=5000
      - FETCHER=true
      - NODE_ENV=production
    networks:
      - app-network
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:

volumes:
  mongodb_data:
